html
    head
        title JavaScript
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body.container
        h2 Login
        p Please login to continue
        form(method="POST").form-group
            label(for="username") Username
            input(type="text",placeholder="Username",name="username",id="username").form-control
            label(for="password") Password
            input(type="password", placeholder="Password", name="password",id="password").form-control
            br
            button(type="submit").btn.btn-primary Login

        p Don't have an account?
            a(href="/register") register here
